body{
  background-color: #f8f6f0;
  font-family: "Quattrocento", sans-serif;
  font-size: 16px
}

h1{
  font-family: "Oswald",sans-serif;
  font-size: 46px;
  font: #f8f6f0
}

h3{
  font-family: "Oswald",sans-serif;
  font-size: 20px
}
